/*=============================== CSS reset ===============================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { height: 100%; font-size: 16px;}
html { color: #606060; font-family: Arial, sans-serif, Verdana, Helvetica; height: 100%; font-size: 16px; line-height: 26px; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; }
#divMain input:focus { border-color: #85c4f8; box-shadow: 0 0 10px #d1e8fc; -webkit-box-shadow: 0 0 10px #d1e8fc; -moz-box-shadow: 0 0 10px #d1e8fc; outline:none; }
/*============================== CSS Document =============================*/
.fl { float: left; }
.fr { float: right; }
a.bluelink { color: #50a8e1; text-decoration: none; }
a.bluelink:hover { color: #61c2ec; }
.d-btn { display: inline-block; padding: 0 25px; height: 46px; min-width: 100px; line-height: 40px; background: #fe8e14; color: #fff; font-size: 14px; text-align: center; cursor: pointer; border: solid 2px #fe8e14; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.d-btn:link, .d-btn:visited { color: #fff; }
.d-btn:hover { background: #ff9f1f; color: #fff; border: solid 2px #ff9f1f; }
.d-btn:active { background: #f99d31; color: #fff; border: solid 2px #f99d31; }
.container { width: 980px; margin: 0 auto; }
.container:after, .clearfix:after { content: ''; display: block; clear: both; }
#divHeader { padding-top: 47px; height: 220px; background: #f8f8f8; border-bottom: solid 1px #eee; }
#divHeader .ct-lt { float: left; width: 63%; }
#divHeader .ct-rt { float: right; padding-top: 13px; text-align: right; width: 30%; }
#divHeader .logo-dbr { float: left; display: inline-block; margin-right: 20px; }
#divHeader .link-group { float: left; font-size: 14px; line-height: 24px; }
#divHeader h1 { float: left; font-size: 30px; line-height: 45px; color: #444; }
#divHeader .ct-btm { float: left; margin-top: 30px; letter-spacing: 1px; }
.masterDownloadGrp {
    float:right;
    margin-top:20px;
}
.masterDownloadGrp .masterDownload {
    display:inline-block;
    height:36px;
    padding:0 18px;
    line-height:32px;
    color: #fe8e14;
    border: 2px solid #fe8e14;
    border-radius: 3px;
    text-align:center;
    transition: all .2s ease-in-out;
}
/*compatible ie6,7  so not use ':first-child'*/
.masterDownloadGrp .masterDownload.first-child {
    margin-right:20px;
}
.masterDownloadGrp .masterDownload:hover {
    color: #fff;
    background-color: #ff9f1f;
    border-color: #ff9f1f;
}
.masterDownloadGrp .masterDownload:active {
    background-color: #f99d31;
    border-color: #f99d31;
}
#divMain { margin-bottom: 55px; margin-top: 55px; }
#divMain .ct-lt { float: left; width: 50%; height: 660px; border: solid 1px #e7e7e7; border-right: none; }
#divMain .ct-lt { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }
#divMain .ct-rt { float: right; padding: 27px 20px 20px; width: 50%; min-height: 660px; height: auto; background: #f8f8f8; border: solid 1px #e7e7e7; }
#mainContent { height: 610px; text-align: center;padding: 0px;cursor: crosshair;}
#divImgWrapper{ width: 100%;height: 100%; position: relative; overflow: visible;}
#divImgWrapper .rect{ position: absolute; z-index: 10;}
#divImgWrapper .rect span{ position: absolute;left: 0px;top: -25px;color: blue;font-size: 12px;font-weight: bold;}
#divImgWrapper .unrecognized{ border: 1px solid blue;}
#divImgWrapper .recognized{ border: 1px solid red;}
#divImgWrapper #divImgLoading{position: absolute; left: 47%; top: 47%; font-size: 14px; z-index: 10; display: none;}
#imgSelector{ position: absolute;border: 1px dashed #000000;z-index: 10;display: none;}
#pagination { padding: 10px 0; height: 50px; text-align: center; border-top: solid 1px #e7e7e7; }
#pagination span { display: inline-block; }
#pagination .icon { width: 30px; height: 30px; background: url(../images/icon-switch-30x30.png) no-repeat center top; cursor: pointer; }
#pagination .icon.right { background-position: center -50px; }
#pagination .icon.left:hover { background-position: center -100px; }
#pagination .icon.right:hover { background-position: center -150px; }
#pagination .num { margin: 0 25px; height: 30px; line-height: 30px; font-size: 14px; color: #444; vertical-align: top; }
.upload-local { position: relative; margin-bottom: 20px; height: 38px; border: solid 1px #d9d9d9; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #fff; overflow: hidden; }
.upload-local input[type='file'] { position: absolute; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; opacity: 0; filter:alpha(opacity=0); -moz-opacity:0;}
.upload-local input[type='text'] { float: left; padding-left: 8px; width: 80%; height: 100%; border: none; cursor: pointer; }
.upload-local span { display: inline-block; float: left; width: 20%; height: 36px; font-size: 14px; line-height: 36px; text-align: center; background: #f8f8f8; border-left: solid 1px #d9d9d9; cursor: pointer; }
.upload-local{ display: block; }
#tabNav { position: relative; z-index: 5; bottom: -1px; width: 242px; background: #eee; border: solid 1px #ddd; border-bottom-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px; }
#tabNav li { float: left; width: 120px; height: 37px; line-height: 37px; font-size: 14px; color: #444; border-bottom: solid 1px #ddd; text-align: center; cursor: pointer; }
#tabNav li:first-child { border-right: solid 1px #ddd; }
#tabNav li.on { background: #fff; border-bottom: none; cursor: default; }
#divMain .section { display: none; width: 100%; background: #fff; border: solid 1px #ddd; border-radius: 3px; border-top-left-radius: 0; }
#divMain .section.on { display: block; }
#divMain .results { padding: 30px 15px 30px 35px; height: 514px; font-size: 14px; line-height: 24px; overflow-y: scroll; }
#divMain .settings { padding: 15px 0 30px; min-height: 514px; height: auto; font-size: 14px; line-height: 24px; }
.display-list-item{display: list-item;}
.settings li { height:35px; padding:0 20px; letter-spacing:.5px;}
.settings li:after { content: ''; display: inline-block; clear: both; }
.settings .checkBoxGrp label { float: left; width: 25%;cursor: pointer;}
.bc-color-mode label, .deblur-oned-bc label, .find-unrecognized-bc label{ cursor: pointer;}
.settings input[type='checkbox'] { width: 15px; height: 15px; vertical-align: text-top; }
.settings li input[type='text'], .settings li select { float:right; padding-left:5px; height:26px; border:solid 1px #dbdbdb; border-radius:3px;}
.settings li:nth-child(3) input, .settings li:nth-child(4) input { width:150px;}
.settings li select { width:230px; outline:none;}
.settings .region .left { float:left; width:45%;}
.settings .region .right { float:right; width:45%;}
.settings .region input { width:120px;}
.settings li:nth-child(11) label { float:right; margin-left:14px;}
.settings .size input { width:80px; float:none !important; margin:0 5px;}
.settings .size .right { float:right;}
.settings .moreSettings { margin-top:3px; padding-top:8px; text-align:right; border-top:solid 1px #eee;}
.settings .moreSettings span { display:none; cursor:pointer;}
.settings .moreSettings span:hover { color: #61c2ec;}
.settings .moreSettings span.on { display:inline-block;}
.settings li:last-child { height:36px;}
.settings li:last-child .d-btn { height:36px; line-height:30px; background:#50a8e1; border-color:#50a8e1;}
.settings li:last-child .d-btn:hover { background:#61c2ec; border-color:#61c2ec;}
.settings li.more { display:none;}
.settings label{font-weight: normal;}
.settings input[type='checkbox'] {margin-top:0px;}
.blackBoldFont24{color:#444444; font-size:24px; font-weight: bold;}
#divCodeSnippet {margin:0 auto 55px auto;width:980px;}
#divCodeSnippetBody {height: 500px;border: 1px solid #ddd;background-color: #FFF;overflow:auto;margin-top:30px;}
#preCode{border: 0px;background-color: white;margin-top: 20px;}
.floatRight{float:right;}

#divApi {margin:0 auto 0 auto; width: 980px;}
#divApiContainer {height:440px;border: 1px solid #ddd;background-color: #FFF; margin-top:30px;}
.blueFont16 {font-size: 16px;color: #1daeeb;}
#ulLeft1 {margin-top: 40px;margin-left: 70px;margin-bottom: 40px;float: left;}
#ulLeft2 {float: left;margin-left: 230px;margin-top: 40px;margin-bottom: 40px;}
.discLi {list-style-type: disc; }
.blackFont14 {color: #000000;font-size: 14px;}
.blueFont{color:blue;}
.greenFont{color:forestgreen;}
.redFont{color:orangered;}
.inlineBlock {display: inline-block;}

#divMask { top: 0px; left: 0px; background: #343d46; opacity: .3; filter: Alpha(Opacity=70); z-index: 50; display:none; position:fixed; width:100%; height:100%; }

#divLoader { width:200px;  height:200px;  left:50%;  top:50%;  margin-left:-100px;  margin-top:-100px; z-index: 51; position:fixed; display:none;}

#imgPageLoader{width: 100%; height: 100%;}
pre.resultPre{display:inline;border:none;font-size:inherit;font-family: inherit;background:transparent;white-space:pre-wrap;}